bidict==0.21.3
bpr-uml-shared @ git+https://github.com/AronGreen/bpr-uml-shared.git@10cf15a7c1f3b87d21e76aa5f1a51279513be0c9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.1
colorama==0.4.4
dataclasses-json==0.5.6
dnspython==1.16.0
Flask==2.0.1
Flask-SocketIO==5.1.1
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.14.0
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
pycparser==2.20
pymongo==3.12.0
python-dotenv==0.19.0
python-engineio==4.2.1
python-socketio==5.4.0
requests==2.26.0
six==1.16.0
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.7
Werkzeug==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
